<div class="container">
<h1><u>Nuevo Mantenimiento</u></h1>

<%= render "form", upkeep: @upkeep %>

<br>

<div class="container">
  <%= link_to "Volver a Mantenciones", upkeeps_path, class:"btn btn-dark mb-3" %>
</div>
</div>