<div class="container">
<h1><u>Editando Motor para mantenimiento</u></h1>

<%= render "form", engine: @engine %>

<br>

<div>
  <%= link_to "Mostrar este Motor", @engine, class:"btn btn-dark" %> |
  <%= link_to "Volver a Motores", engines_path, class:"btn btn-dark" %>
</div>
</div>