<div class="container">
<h1><u>Nuevo Motor para mantenimiento</u></h1>

<%= render "form", engine: @engine %>

<br>

<div>
  <%= link_to "Volver a Motores", engines_path, class:"btn btn-dark" %>
</div>
</div>