<div>
<u><h1 class="mt-2 mb-3 text-center">Terminos y Condiciones</h1></u>
<div class="container ">
<h5>1. RESPONSABILIDAD </h5>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam deleniti sint nisi labore, unde nemo deserunt hic officia eos earum,
dignissimos voluptatum quis totam libero. Veritatis totam repudiandae unde quos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam deleniti sint nisi labore, unde nemo deserunt hic officia eos earum,
dignissimos voluptatum quis totam libero. Veritatis totam repudiandae unde quos.</p>
<h5>2. SITIOS ENLAZADOS </h5>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam deleniti sint nisi labore, unde nemo deserunt hic officia eos earum,
dignissimos voluptatum quis totam libero. Veritatis totam repudiandae unde quos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam deleniti sint nisi labore, unde nemo deserunt hic officia eos earum,
dignissimos voluptatum quis totam libero. Veritatis totam repudiandae unde quos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam deleniti sint nisi labore, unde nemo deserunt hic officia eos earum,
dignissimos voluptatum quis totam libero. Veritatis totam repudiandae unde quos.</p>
<h5>2.1. CALIDAD</h5>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam deleniti sint nisi labore, unde nemo deserunt hic officia eos earum,
dignissimos voluptatum quis totam libero. Veritatis totam repudiandae unde quos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam deleniti sint nisi labore, unde nemo deserunt hic officia eos earum,
dignissimos voluptatum quis totam libero. Veritatis totam repudiandae unde quos.</p>
<h5>2.2. PROPIEDAD INTELECTUAL </h5>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam deleniti sint nisi labore, unde nemo deserunt hic officia eos earum,
dignissimos voluptatum quis totam libero. Veritatis totam repudiandae unde quos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam deleniti sint nisi labore, unde nemo deserunt hic officia eos earum,
dignissimos voluptatum quis totam libero. Veritatis totam repudiandae unde quos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam deleniti sint nisi labore, unde nemo deserunt hic officia eos earum,
dignissimos voluptatum quis totam libero. Veritatis totam repudiandae unde quos.</p>
<h5>3. POLÍTICA DE PRIVACIDAD </h5>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam deleniti sint nisi labore, unde nemo deserunt hic officia eos earum,
dignissimos voluptatum quis totam libero. Veritatis totam repudiandae unde quos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam deleniti sint nisi labore, unde nemo deserunt hic officia eos earum,
dignissimos voluptatum quis totam libero. Veritatis totam repudiandae unde quos.</p>
<h5>4. TERMINACIÓN DEL ACCESO </h5>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam deleniti sint nisi labore, unde nemo deserunt hic officia eos earum,
dignissimos voluptatum quis totam libero. Veritatis totam repudiandae unde quos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam deleniti sint nisi labore, unde nemo deserunt hic officia eos earum,
dignissimos voluptatum quis totam libero. Veritatis totam repudiandae unde quos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam deleniti sint nisi labore, unde nemo deserunt hic officia eos earum,
dignissimos voluptatum quis totam libero. Veritatis totam repudiandae unde quos.</p>
<h5>5. VIOLACIONES DEL SISTEMA O BASES DE DATOS</h5>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam deleniti sint nisi labore, unde nemo deserunt hic officia eos earum,
dignissimos voluptatum quis totam libero. Veritatis totam repudiandae unde quos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam deleniti sint nisi labore, unde nemo deserunt hic officia eos earum,
dignissimos voluptatum quis totam libero. Veritatis totam repudiandae unde quos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam deleniti sint nisi labore, unde nemo deserunt hic officia eos earum,
dignissimos voluptatum quis totam libero. Veritatis totam repudiandae unde quos.</p>
<h5>6. JURISDICCIÓN </h5>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam deleniti sint nisi labore, unde nemo deserunt hic officia eos earum,
dignissimos voluptatum quis totam libero. Veritatis totam repudiandae unde quos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam deleniti sint nisi labore, unde nemo deserunt hic officia eos earum,
dignissimos voluptatum quis totam libero. Veritatis totam repudiandae unde quos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam deleniti sint nisi labore, unde nemo deserunt hic officia eos earum,
dignissimos voluptatum quis totam libero. Veritatis totam repudiandae unde quos.</p>
</div>
</div>
<div> <%= render "shared/footer" %></div>